body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  min-height: 100vh;
  background-color: #f3f3f3;
}

main, footer{
  width: 85vw;
  margin: auto;
}

h1{
  text-align: center;
}
.h3-home{
  margin-left: 3rem;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  background: linear-gradient(20deg, rgba(227,227,227,1) 50%, rgba(168,81,81,1) 100%);
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav .links{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .links a{
  margin: .5rem 1rem;
  font-weight: bold;
}
nav .links a:hover{
  color: #aa5656;
}

nav .logo-nav span{
  color: #a85151;
}

.btn-theme{
  background-color: #d6d5d5;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: .2rem 1.5rem;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  bottom: 0;
  margin-top: 2rem;
}

footer > p{
  margin: 0;
}

footer .logoDh{
  display: flex;
  align-items: center;
  justify-content: center;
}




.card-container{
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 1rem;
  border: 0.5px solid #ccc;
  border-radius: 3px;
  background-color: #e3e3e3;
}
.card img{
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
}

.card:hover{
  box-shadow: 3px 3px 6px 0px rgb(147 147 147);
  translate: -2px -2px;
  transition-duration: .2s;
}

.card.detail{
  width: fit-content;
  flex-direction: row;
}
.card.detail .details{
  margin-left: 2rem;
}
.card.detail img{
  height: 200px;
  width: 200px;
}
.card.detail:hover{
  box-shadow: inherit;
  translate: 0 0;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 55vh;
}
.favButton{
  background-color: rgb(170 206 222);
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.favButton:hover{
  background-color: rgb(146 180 194);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh;
}
.form-container .form-info{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  border-right: 3px solid #ae6161;
  padding: 1rem;
}
.form-container .form-inputs input, 
.form-container .form-inputs button, 
.form-container .form-inputs textarea{
  border: 1px solid #ae6161;
  padding: .5rem;
  border-radius: 5px;
  margin: .2rem 0;
}
.form-container .form-inputs button{
  border: none;
  background-color: #ae6161;
  font-weight: bold;
  color: #fff;
}
.form-container .form-inputs button:hover{
  background-color: #764142;
}



.dark nav{
  background: linear-gradient(20deg, rgb(34 34 34) 50%, rgba(136,72,72,1) 100%);
}
.dark nav span{
  color: #ee6565;
}
.dark{
  background-color: #292929;
  color: white;
}
.dark a, .dark button{
  color: white;
}

.dark .btn-theme{
  background-color: #525252;
}
.dark .card{
  background-color: #525252;
  border: none;
}


@media screen and (max-width: 768px){
  nav{
    padding: 1rem .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h3-home{
    margin-left: 0rem;
  }
  .card{
    width: 95%;
  }
  .card.detail{
    flex-direction: column;
  }

  .form-container{
    flex-direction: column;
  }
  .form-container .form-info{
    border-right: none;
    border-bottom: 3px solid #ae6161;
    height: initial;
    margin: 0;
    margin-bottom: 1rem;
  }

  footer{
    padding: 0;
    padding-bottom: 2rem;
  }
}